@charset "UTF-8";

body { font-family: sans-serif;}

header {position: fixed; width: 100%; 
  background: rgba(255,255,255,50%); 
transition: 500ms ease-in; z-index: 100;}
.header_in { max-width: 1200px; margin: auto; height: 120px; 
display: flex; justify-content: space-between; align-items: center;}

h1 span { font-size: clamp(24px,3vw,3em); 
  /*clamp함수(최소, 중간, 최대), 3em은 기본폰트값16*3=48px임*/
  font-family: "Diphylleia", serif; font-weight: bold;}
h1 i { color: orange; vertical-align: top; font-size: clamp(10px,1.6vw,1.6em);} 
/*폰트어썸 아이콘 우선권이없음*/

nav { }
nav ul{ }
nav ul > li {float: left;}
nav ul > li > a { display: block; padding: 15px; font-size: 18px;
text-transform: uppercase; /*대문자*/}
nav ul > li > a:hover { color: orangered;}

/* trigger */
.trigger { display: none; width: 30px; height: 30px;
  }
.btn {display: block; position: relative;
  height: 100%; }
.btn span { display: block; position: absolute; 
  width: 100%; height: 2px; 
  text-indent: -9999px; background: #fff;
transition: 0.3s;}  
.btn span:nth-child(1) { top: 5px; }
.btn span:nth-child(2) { top: calc(50% - 1px); }
.btn span:nth-child(3) { bottom: 5px; }

/* header.on으로 되었을때 */
header.on { background: black;color: white;}
header.on .header_in { height: 50px; }

header.on h1 span { font-size: 2em;}
header.on h1 i {  font-size: 1rem;}
header.on nav ul > li > a {  padding: 13px; font-size: 15px;}


section { display: flex; flex-direction: column; 
  justify-content:space-evenly; align-items: center; 
overflow: hidden;/* 하단에 스크롤없앰*/}
section h2 { font-size: 4rem; }
.btnDown { text-align: center;}
.btnDown span {display:inline-block; width: 50px; height: 50px;
border: 5px solid black; transform: rotate(-45deg);
border-top: none; border-right:none;
cursor: pointer;
font-size: 0;}

.btnDown:hover span { border-color: red;}

/* .overlay_video { position: absolute; top: 0; left: 0; 
  pointer-events: none; /* 커셔올릴때 재생버튼방지  
  width: 100%; height: 100%; object-fit: cover;
filter: brightness(0.5);} */

.overlay_video { position: absolute; top: 50%;left: 50%;
transform: translate(-50%, -50%); 
width: max(100vw, 177.78vh); height: max(100vh,56.25vh);
/*max (a,b) -a, b 중에 큰값을 선택
유투브의 영상비율은 16:9 섹션에 빈부분이 없앰*/
filter: brightness(0.5); pointer-events: none;
}

#s1 { background:#f5eead; height: 100vh;}


.main_text { position: absolute; /* 위에위치 */ border: 1px solid rosybrown; 
transform: translate(-10vw); color: #fff;}
#s1 .main_text h2 { font-size: clamp(40px, 6vw, 6rem);/*font-size: clamp(최소사이즈, 변하는값, 최대값);  */
  margin-bottom: 2.5vh;
} 
.main_text .btnDown span {border-color:rgb(199, 172, 172); width: 30px; height: 30px; margin-top: 70px;}
.main_text .btnDown:hover span { border-color: red;}

#s1 video, #s4 video {width: 100%; height: 100%; object-fit: cover;}

#s2 { background: url('../img/bg1.jpg') fixed center center / cover; 
    /* fixed는 스크롤이 올라가면 사진이 따라올라가지않고 뒷배경으로 고정시킴*/
  height: 768px; }

#s3 {position: relative; height: 100vh; }
.s3_text { position: absolute; color: #fff;} 

#s4 { background:#7fcea7; height: 70vw;}
.s4_text { position: absolute; border-color: red; color: #fff;}
.s4_text .btnDown { text-align: center  ;}
.s4_text .btnDown span { margin-top: 70px;}

#s5 { background: url('../img/bg2.jpg') fixed center center / cover; height: 100vh; color: #fff;}

#s6 {position: relative; background:#9988e4;height:100vh; }


.s6_text {position: absolute; color: #7fcea7;}