@charset "UTF-8";


/* 1200px미만 */
@media (max-width:1199px) {
  .header_in {width: 100%; padding: 0 20px; }
  nav ul > li > a { padding: 10px;}
}

/* 931px미만 */
@media (max-width:930px) {

  .trigger { display: block;}

  .nav_wrap{ visibility: hidden; /*평소상태*/ opacity:0; transition: all 0.6s;
  background: rgba(85, 109, 30, 0.8); /* 모바일일때 바깥 배경색상*/ 
  position: fixed;top: 0; left: 0; width: 100%; height: 100%; }
  nav {padding-top: 100px;
    /*align-items: center; 글자가운데 선택사항*/ 
    float: right; width: 70%; height: 100%; 
    background: #a7c9bb; /*모바일 메뉴 배경색상*/}
  
  nav ul { padding: 0 5%;}
  nav ul > li {float: none; border-top: 1px solid #ccc;}
  nav ul > li:first-child{ border-top: none;}
  nav ul > li > a,
  header.on nav ul > li > a 
  { padding: 3vh 2vh; font-size: clamp(16px,5vw,30px); color: rgb(29, 61, 31);}

  header.open .nav_wrap{ visibility: visible; /*변환*/ opacity:1;  }
  header.open .btn span {background: #a4b38bcc;/* X 색상 */ }

  /* 버거 open */
header.open .btn span:nth-child(1) { top: calc(50% - 1px); transform: rotate(45deg); }
header.open .btn span:nth-child(2) { opacity: 0; }
header.open .btn span:nth-child(3) { top: calc(50% - 1px); transform: rotate(-45deg);}



}